body {
    background: whitesmoke;
}

.title {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgb(0, 132, 255);
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
        2px 2px 0 #fff;
    font-weight: bold;
}

.about {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(35, 141, 43);
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        1px 1px 0 #fff;
    letter-spacing: 3px;
    font-weight: bold;
}

.fpabout {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.fp,
.installer,
.updater {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fp {
    width: 50px;
}

.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.5s ease-in-out;
}

.main:hover {
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
}

.installer,
.updater {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.updater {
    background-color: rgb(0, 137, 68);
}

.installer:hover,
.updater:hover {
    background-color: rgb(0, 174, 87);
}

.steps {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px dashed gray;
    padding: 2%;
}

.OptionButton {
    background-color: rgb(240, 255, 250);
    border: 1px solid #04aa6d;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 1%;
}

.OptionButton:hover {
    background-color: #04aa6d;
}

li {
    margin: 1%;
    padding: 1%;
}

li:hover {
    background-color: rgb(209, 209, 209);
}

.hih {
    background-color: rgb(213, 228, 255);
    border: 1px dashed gray;
    padding: 1%;
    text-align: center;
}
