body {
    border: 1px solid #e6e6e6;
    background: #eeeeee;
    margin: 30px;
    box-shadow: 5px 5px 10px 5px #00000067;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    align-items: center;
    text-align: center;
}

#title,
#HowToUse {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #0084ff;
}

#about {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(35, 141, 43);
    letter-spacing: 3px;
    font-weight: bold;
}

.fpabout {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.fp,
#installer {
    margin-left: auto;
    margin-right: auto;
}

#fp {
    width: 50px;
}

.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 2px #00000026;
    transition: box-shadow 0.5s ease-in-out;
}

.main:hover {
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
}

#installer {
    background-color: #1e90ff;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    width: 300px;
    background-image: url(assets/png/download.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 32px;
    transition: background-position 0.3s ease;
}

#installer:hover {
    background-color: #0070e1;
    background-position: 258px;
    text-decoration: underline;
}

#howtouse {
    position: sticky;
}
#steps {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: scroll;
    text-align: left;
}

#OptionButton {
    background-color: rgb(240, 255, 250);
    border: 1px solid #04aa6d;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 1%;
}

#OptionButton:hover {
    background-color: #04aa6d;
}

li {
    margin: 1%;
    padding: 1%;
}

li:hover {
    background-color: rgb(209, 209, 209);
}

#hih {
    background-color: rgb(213, 228, 255);
    border: 1px dashed gray;
    padding: 1%;
    text-align: center;
}

#preview {
    margin: 10px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    width: calc(100% - 20px);
    max-width: 836px;
}
